$primary-abyssal-dark: #01080e;
$prymary-deep-blue: #011627;
$primary-midnight: #011221;

$secoundary-steel-blue: #607b96;
$secoundary-emerald: #3c9d93;
$secoundary-blue-velvet: #4d5bce;

$secoundary-white: #ffffff;

$accent-coral: #fea55f;
$accent-aqua-serenity: #43d9ad;
$accent-coral-blush: #e99287;
$accent-purple: #c98bdf;

$lines: #1e2d3d;

$gradient-blue-velvet: #4d5bce;
$gradient-aqua-serenity: #43d9ad;

:export {
  primary-abyssal-dark: $primary-abyssal-dark;
  prymary-deep-blue: $prymary-deep-blue;
  primary-midnight: $primary-midnight;
  secoundary-steel-blue: $secoundary-steel-blue;
  secoundary-emerald: $secoundary-emerald;
  secoundary-blue-velvet: $secoundary-blue-velvet;
  secoundary-white: $secoundary-white;
  accent-coral: $accent-coral;
  accent-aqua-serenity: $accent-aqua-serenity;
  accent-coral-blush: $accent-coral-blush;
  accent-purple: $accent-purple;
  lines: $lines;
  gradient-blue-velvet: $gradient-blue-velvet;
  gradient-aqua-serenity: $gradient-aqua-serenity;
}
