@import './variables.scss';

* {
  box-sizing: border-box;
  font-family: $typography-family-base;
  background: $primary-deep-blue;
  color: $secoundary-steel-blue;
  margin: 0;
  padding: 0;
}

footer,
header {
  width: 100%;
  height: $height-header;
}
