@import './variables.scss';

* {
  box-sizing: border-box;
}

html,
body,
footer,
header {
  color: $secoundary-steel-blue;
  font-family: $typography-family-base;
  background: $prymary-deep-blue;

  margin: 0;
}

footer,
header {
  width: 100vw;
  height: 3rem;
}

a {
  text-decoration: none;
}

main,
body,
html {
  height: calc(100vh - 3rem - 3rem);
}

main {
  display: flex;
  flex-direction: row;
}

section,
main,
footer,
header {
  border-right: 1px solid $lines;
  border-bottom: 1px solid $lines;

  width: 100%;
}
