@import './variables.scss';

* {
  box-sizing: border-box;
  font-family: $typography-family-base;
  background: $primary-deep-blue;
  color: $secoundary-steel-blue;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: $typography-family-base;
  src: url('Fira Code.eot'); /* IE9 Compat Modes */
  src: url('Fira Code.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('Fira Code.woff2') format('woff2'),
    /* Super Modern Browsers */ url('Fira Code.woff') format('woff'),
    /* Pretty Modern Browsers */ url('Fira Code.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('Fira Code.svg#svgFontName') format('svg'); /* Legacy iOS */
}

footer,
header {
  width: 100%;
  height: $height-header;
}
