@import './responsive';
@import './colors';

$typography-family-base: 'Fira Code retina' !default;

$typography-code-snippets: Calc(Number(1rem) - 2);
$typography-Lables: 1rem;
$typography-body-text: 1rem + 2;

$typography-Subheadline-text: 1rem * 2;

$typography-headline-text: (1rem * 4) - 2;

$typography-border: 1px solid $lines;

:export {
  typography-family-base: $typography-family-base;
  typography-code-snippets: $typography-code-snippets;
  typography-Lables: $typography-Lables;
  typography-body-text: $typography-body-text;
  typography-Subheadline-text: $typography-Subheadline-text;
  typography-headline-text: $typography-headline-text;
}
