@import '../../styles/_variables.scss';

.header-tabs {
  display: flex;
  flex-direction: row;
  height: 100%;
  border-bottom: $border;

  li {
    border-top: $border;
    &:last-child {
      margin-left: auto;
      border-left: $border;
      border-top: $border;
      border-top-right-radius: $radius;
    }
  }
}

nav {
  flex: 1;
}
