@import '../../styles/_variables.scss';

.header-tabs {
  display: flex;
  flex-direction: row;
  height: 100%;

  list-style-type: none;

  div {
    flex: 1;
    border-bottom: $border;
    border-right: $border;
    border-top: $border;
  }
}

#_contact-me {
  background-color: black;

  button {
    border-top-right-radius: $radius;
  }
}

nav {
  flex: 1;
}
