@import '../../styles/_variables.scss';

.header-tabs {
  display: flex;
  flex-direction: row;
  height: 100%;

  div {
    flex: 1;
    border-top: $border;
    border-bottom: $border;
  }

  li {
    border-right: $border;
    border-bottom: $border;
    border-top: $border;

    &:last-child {
      border: $border;
      border-top-right-radius: $radius;
    }
  }
}

nav {
  flex: 1;
}
