@import '../../styles/_variables.scss';

header {
  display: flex;
}

.name-container {
  display: flex;
  align-items: center;
  width: $side-bar-width;
  align-self: center;
  padding-left: $base;
  border: $border;
  border-top-left-radius: $radius;
  height: 100%;
}
