@import '@/styles/_variables.scss';

header {
  display: flex;
  @media (max-width: $responsiveMd) {
    justify-content: space-between;
  }
  background-color: black;
}

.header-button {
  display: none;
  border: none;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;

  &:active {
    opacity: 0.5;
  }

  @media (max-width: $responsiveMd) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.header-tabs {
  @media (max-width: $responsiveMd) {
    display: none !important;
  }
}

.name-container {
  display: flex;
  align-items: center;
  width: $side-bar-width;
  align-self: center;
  padding-left: $base;
  border: $border;
  border-top-left-radius: $radius;
  height: 100%;
  @media (max-width: $responsiveMd) {
    flex: 1;
    justify-content: space-between;
    border-top-right-radius: $radius;
  }
}
