@import '../../styles/_variables.scss';

header {
  display: flex;
  @media (max-width: $responsiveMd) {
    justify-content: space-between;
  }
}

.menu-icon {
  display: none;
  @media (max-width: $responsiveMd) {
    display: flex;
  }
}

.header-tabs {
  @media (max-width: $responsiveMd) {
    display: none !important;
  }
}

.name-container {
  display: flex;
  align-items: center;
  width: $side-bar-width;
  align-self: center;
  padding-left: calc($base * 2);
  border: $border;
  border-top-left-radius: $radius;
  height: 100%;
}
