@import '../../styles/_variables.scss';

header {
  display: flex;
  span {
    width: $side-bar-width;
    align-self: center;
  }

  div {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}
