@import '@/styles/_variables.scss';

.link {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0 calc($base * 2);
  user-select: none;
  font-size: $typography-label;
  border: none;
  border-top: $border;
  border-right: $border;
  border-bottom: $border;
  cursor: pointer;
  height: 100%;

  &:hover {
    color: #ffffff;
  }

  &.-active {
    border-bottom: 3px solid $accent-coral;
    color: #ffffff;
  }
}
