// Reset box-sizing to border-box for all elements
* {
  box-sizing: border-box;
}

// Remove default margin and padding for all elements
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

// Set default font size and line height
body {
  font-family: 'Fira Code', monospace;
  font-size: 16px;
  line-height: 1.5;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

// Remove list styles
ul,
ol {
  list-style: none;
}

// Remove default link styles
a {
  text-decoration: none;
  color: inherit;
}

// Add any additional styles or customizations below

.row {
  display: flex;
  flex-direction: row;
}

.collumn {
  display: flex;
  flex-direction: column;
}
