@import '../../styles/variables.scss';

.flex-box {
  &.-container {
    display: flex;
    border-right: 1px solid $lines; // código possivelmente desnecessário
    border-bottom: 1px solid $lines;
  }

  &.-align-items-stretch {
    display: flex;
    align-items: stretch;
  }

  &.-align-items-center {
    display: flex;
    align-items: center;
  }

  &.-align-items-flex-start {
    display: flex;
    align-items: flex-start;
  }

  &.-align-items-flex-end {
    display: flex;
    align-items: flex-end;
  }

  &.-align-items-baseline {
    display: flex;
    align-items: baseline;
  }

  &.-align-items-initial {
    display: flex;
    align-items: initial;
  }

  &.-align-items-inherit {
    display: flex;
    align-items: inherit;
  }

  &.-justify-content-flex-start {
    display: flex;
    justify-content: flex-start;
  }

  &.-justify-content-flex-end {
    display: flex;
    justify-content: flex-end;
  }

  &.-justify-content-space-between {
    display: flex;
    justify-content: space-between;
  }
  &.-justify-content-space-around {
    display: flex;
    justify-content: space-around;
  }

  &.-justify-content-center {
    display: flex;
    justify-content: center;
  }

  &.-justify-content-initial {
    display: flex;
    justify-content: initial;
  }

  &.-justify-content-inherit {
    display: flex;
    justify-content: inherit;
  }

  &.-direction-column {
    display: flex;
    flex-direction: column;
  }

  &.-direction-row {
    display: flex;
    flex-direction: row;
  }

  &.-flex-wrap-wrap {
    display: flex;
    flex-wrap: wrap;
  }

  &.-flex-wrap-nowrap {
    display: flex;
    flex-wrap: nowrap;
  }

  &.-flex-wrap-reverse {
    display: flex;
    flex-wrap: reverse;
  }

  &.-align-self-stretch {
    align-self: stretch;
  }

  &.-align-self-center {
    align-self: center;
  }

  &.-align-self-start {
    align-self: start;
  }

  &.-align-self-end {
    align-self: end;
  }

  &.-justify-self-stretch {
    justify-self: stretch;
  }

  &.-justify-self-center {
    justify-self: center;
  }

  &.-justify-self-start {
    justify-self: start;
  }

  &.-justify-self-end {
    justify-self: end;
  }

  &.-flex {
    flex: 1;
  }

  &.-flex-basis {
    flex-basis: 100%;
  }

  &.-flex-grow {
    flex-grow: 1;
  }

  &.-flex-shrink {
    flex-shrink: 1;
  }

  &.-push-down {
    margin-top: auto;
  }

  &.-push-left {
    margin-right: auto;
  }

  &.-push-right {
    margin-left: auto;
  }

  &.-push-top {
    margin-bottom: auto;
  }
}
